DATABASE_HOSTNAME=<database.hostname>
DATABASE_PORT=<database.port>
DATABASE_NAME=<database.name>
DATABASE_USERNAME=<database.username>
DATABASE_PASSWORD=<database.password>
GETH_FULL_SYNC_START_BLOCK=N
GETH_ENABLE_SAVE_INTERNAL_MESSAGE=1
GETH_ENABLE_SAVE_INTERNAL_MESSAGE_SQL=1
GETH_ENABLE_SAVE_INTERNAL_MESSAGE_KAFKA=1
KAFKA_HOSTNAME=127.0.0.1
KAFKA_PORT=9092
